USE [master]
GO
/****** Object:  Database [myNFCdb]    Script Date: 08/04/2022 13:39:58 ******/
CREATE DATABASE [myNFCdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'myNFCdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\myNFCdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'myNFCdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\myNFCdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [myNFCdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [myNFCdb]
GO
/****** Object:  Table [dbo].[TagType]    Script Date: 08/04/2022 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagType](
	[TagTypeID] [varchar](50) NOT NULL,
	[TagType] [varchar](50) NULL,
	[TagUID] [varchar](255) NULL,
 CONSTRAINT [PK_TagType] PRIMARY KEY CLUSTERED 
(
	[TagTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestData]    Script Date: 08/04/2022 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestData](
	[TestID] [varchar](50) NOT NULL,
	[TagTypeID] [varchar](50) NOT NULL,
	[TestTypeID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TestData] PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestDetails]    Script Date: 08/04/2022 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestDetails](
	[TestID] [varchar](50) NOT NULL,
	[Details_of_Test] [varchar](50) NULL,
	[Result] [varchar](50) NULL,
	[DateTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestType]    Script Date: 08/04/2022 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestType](
	[TestTypeID] [varchar](50) NOT NULL,
	[TestType] [varchar](50) NULL,
 CONSTRAINT [PK_TestType] PRIMARY KEY CLUSTERED 
(
	[TestTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TagType] ([TagTypeID], [TagType], [TagUID]) VALUES (N'1', N'LeapCard', N'04-33-20-5A-9F-5B-80')
GO
INSERT [dbo].[TestData] ([TestID], [TagTypeID], [TestTypeID]) VALUES (N'3', N'1', N'1')
GO
INSERT [dbo].[TestDetails] ([TestID], [Details_of_Test], [Result], [DateTime]) VALUES (N'3', N'2cm', N'Success', CAST(N'2022-04-05T12:03:22.000' AS DateTime))
INSERT [dbo].[TestDetails] ([TestID], [Details_of_Test], [Result], [DateTime]) VALUES (N'3', N'5cm', N'Failed', CAST(N'2022-04-05T12:05:32.000' AS DateTime))
INSERT [dbo].[TestDetails] ([TestID], [Details_of_Test], [Result], [DateTime]) VALUES (N'3', N'7cm', N'Failed', CAST(N'2022-04-05T12:08:38.000' AS DateTime))
GO
INSERT [dbo].[TestType] ([TestTypeID], [TestType]) VALUES (N'1', N'Distance')
INSERT [dbo].[TestType] ([TestTypeID], [TestType]) VALUES (N'2', N'Material')
INSERT [dbo].[TestType] ([TestTypeID], [TestType]) VALUES (N'3', N'Dist_Material')
GO
ALTER TABLE [dbo].[TestData]  WITH CHECK ADD  CONSTRAINT [FK_TestData_TagType] FOREIGN KEY([TagTypeID])
REFERENCES [dbo].[TagType] ([TagTypeID])
GO
ALTER TABLE [dbo].[TestData] CHECK CONSTRAINT [FK_TestData_TagType]
GO
ALTER TABLE [dbo].[TestData]  WITH CHECK ADD  CONSTRAINT [FK_TestData_TestType] FOREIGN KEY([TestTypeID])
REFERENCES [dbo].[TestType] ([TestTypeID])
GO
ALTER TABLE [dbo].[TestData] CHECK CONSTRAINT [FK_TestData_TestType]
GO
ALTER TABLE [dbo].[TestDetails]  WITH CHECK ADD  CONSTRAINT [FK_TestDetails_TestData] FOREIGN KEY([TestID])
REFERENCES [dbo].[TestData] ([TestID])
GO
ALTER TABLE [dbo].[TestDetails] CHECK CONSTRAINT [FK_TestDetails_TestData]
GO
USE [master]
GO
